[role="header-title"] {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -2%;
}
[role="subtitle"] {
    font-weight: medium;
    font-size: 18px;
}
[role="body-title"] {
    font-weight: medium;
    font-size: 14px;
    line-height: 140%;
}
[role="small-title"] {
    font-weight: medium;
    font-size: 11px;
}
[role="pre-title"] {
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 3%;
}
[role="button"] {
    /* font family different from others */
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3%;
}
[role="link"] {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}
